*{padding:0;margin:0;list-style: none;border:0;box-sizing: border-box;text-decoration: none;}
/*设计稿为720宽度*/
@media only screen and (max-width:480px){html{font-size:66.6666667px}/*480/66.6666667=7.2*/
}
@media only screen and (max-width:414px){html{font-size:57.5px}
}
@media only screen and (max-width:412px){html{font-size:57.2222222px}
}
@media only screen and (max-width:400px){html{font-size:55.5555556px}
}
@media only screen and (max-width:393px){html{font-size:54.5833333px}
}
@media only screen and (max-width:375px){html{font-size:52.0833px}
}
@media only screen and (max-width:360px){html{font-size:50px}
}
@media only screen and (max-width:345px){html{font-size:47.916667px}
}
@media only screen and (max-width:320px){html{font-size:44.4444444px}
}
@media only screen and (min-width:640px){html{font-size:88.8888889px}
}
@media only screen and (min-width:720px){html{font-size:100px}
}
@media only screen and (min-width:750px){html{font-size:104.16667px}
}
body,html{width:100%;height:100%;padding:0;margin:0 auto;background:#F8F9F9;font-family:Helvetica Neue,Helvetica,Arial,Microsoft YaHei,\\5FAE\8F6F\96C5\9ED1,STXihei,\\534E\6587\7EC6\9ED1,serif}
html{-webkit-text-size-adjust:none;}
/*百分比宽*/
.w100b{width:100% !important;}
.w90b{width:90% !important;}
.w85b{width:85% !important;}
.w80b{width:80% !important;}
.w75b{width:75% !important;}
.w70b{width:70% !important;}
.w60b{width:60% !important;}
.w50b{width:50% !important;}
.w40b{width:40% !important;}
.w50b{width:50% !important;}
.w33b{width:33.333% !important;}
.w30b{width:30% !important;}
.w25b{width:25% !important;}
.w20b{width:20% !important;}
.w15b{width:15% !important;}
.w10b{width:10% !important;}
/*字体大小*/
.font12{font-size:0.12rem !important;}
.font14{font-size:0.14rem !important;}
.font16{font-size:0.16rem !important;}
.font18{font-size:0.18rem !important;}
.font19{font-size:0.19rem !important;}
.font20{font-size:0.2rem !important;}
.font22{font-size:0.22rem !important;}
.font24{font-size:0.24rem !important;}
.font26{font-size:0.26rem !important;}
.font28{font-size:0.28rem !important;}
.font30{font-size:0.3rem !important;}
.font32{font-size:0.32rem !important;}
.font34{font-size:0.34rem !important;}
.font36{font-size:0.36rem !important;}
.font38{font-size:0.38rem !important;}
.font40{font-size:0.40rem !important;}
.font42{font-size:0.42rem !important;}
.font44{font-size:0.44rem !important;}
.font46{font-size:0.46rem !important;}

.font14pc{font-size: 14px!important;}
.font16pc{font-size: 16px!important;}
.font18pc{font-size: 18px!important;}
.font24pc{font-size: 24px!important;}
.font30pc{font-size: 30px!important;}
.fontbold{font-weight:bold !important;}
/*颜色*/
.colfff{color:#fff;}
.col333{color:#333;}
.col666{color:#666;}
.col888{color: #888;}
.col999{color:#999;}
.colff0000{color:#ff0000;}
.colff6e00{color:#ff6e00;}
.col2a86e8{color:#2A86E8;}
.col08ae00{color:#08AE00;}
.col0dba52{color:#0dba52;}
.col90C6FF{color:#90C6FF;}

.fl{float: left !important;}
.fr{float: right !important;}
.clearFix{display:block;zoom:1}
.clearFix:after{content:".";display:block;visibility:hidden;height:0;clear:both;}
.flex{display: flex;justify-content: center;align-items: center;}
.flexItem{flex:1;}
.mt20{margin-top: 0.2rem;}
.mb20{margin-bottom: 0.2rem;}
.vertical-top{vertical-align: top;}
.vertical-middle{vertical-align: middle;}
.inline-block{display: inline-block;}
.underline{text-decoration: underline;}
.pointer{cursor: pointer;}
img{vertical-align: middle;}

/*bottom*/
.border1px {
  position: relative;
}
.border1px:before {
  content: " ";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #d8d8d8;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
}
/*top*/
.bordert1px {
  position: relative;
}
.bordert1px:after {
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 1px;
  background-color: #d8d8d8;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
}
/*right*/
.borderr1px {
  position: relative;
}
.borderr1px:after {
  content: " ";
  position: absolute;
  right: 0;
  top: 0;
  width: 1px;
  height: 100%;
  background-color: #d8d8d8;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: scaleX(0.5);
  transform: scaleX(0.5);
}
/*清除input默认样式*/
input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #ccc;
}
input:-moz-placeholder, textarea:-moz-placeholder {
  color: #ccc;
}
input::-moz-placeholder, textarea::-moz-placeholder {
  color: #ccc;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #ccc;
}

@keyframes fadein
{
  0% {opacity: 0;}/*初始状态 透明度为0*/
  40% {opacity: 0;}/*过渡状态 透明度为0*/
  100% {opacity: 1;}/*结束状态 透明度为1*/
}
[v-cloak]{
  display: none;
}
/*.fadein{opacity: 0}*/
.fadein1 {animation: fadein 1s;}
.fadein2 {animation: fadein 2s;}
.fadein3 {animation: fadein 3s;}

